@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    max-width: 1368px;
    min-height: 100%;
    margin: 0 auto;
  }

  html {
    @apply flex flex-col;
  }

  body {
    @apply flex-1 bg-gray-900 text-gray-200;
  }
}
